<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.github.keep2iron.density">

  <application>
    <provider
      android:name="io.github.keep2iron.density.InitProvider"
      android:authorities="${applicationId}.density-init-provider"
      android:exported="false"
      android:multiprocess="true" />

    <meta-data
      android:name="design_width_in_dp"
      android:value="375" />
    <meta-data
      android:name="design_height_in_dp"
      android:value="750" />

  </application>


</manifest>
